:root {
	--back-h: 206;
	--border-radius: 0.4rem;
	--desktop-column-width: 768px;
	--font-family: sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Inter', 'Helvetica Neue', sans-serif;
	--line-max-width: 84rem;
	--media-max-width-desktop: 1200px;
	--media-max-width-laptop: 1024px;
	--media-max-width-mobile: 480px;
	--media-max-width-tablet: 768px;
	--media-min-width-ultra-wide: 1201px;
	--nav-height: 4rem;
	--page-main-width: 80rem;
	--page-padding-bottom: 6rem;
	--page-padding-side: 2.4rem;
	--page-padding-top: 6rem;
	--selection-color: hsla(204, 100%, 63%, 0.3);
	--text-l: 2.4rem;
	--text-m: 2rem;
	--text-s: 1.6rem;
	--text-xl: 2.7rem;
	--text-xs: 1.3rem;
	--text-xxl: 3rem;
	--thick-border-width: 0.3rem;
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--back-1: hsl(0, 0%, 10%);
		--back-2: hsl(0, 0%, 18%);
		--back-3: hsl(0, 0%, 14%);
		--back-4: hsl(0, 0%, 22%);
		--back-5: hsl(0, 0%, 40%);
		--back-translucent: hsla(0, 0%, 100%, 0.1);
		--scrollbar: rgba(255, 255, 255, 0.3);
		--text-1: hsl(0, 0%, 90%);
		--text-2: hsl(0, 0%, 80%);
		--text-3: hsl(0, 0%, 65%);
		--text-4: hsl(0, 0%, 45%);
		--text-translucent: hsla(0, 0%, 100%, 0.9);
		--theme-1-variant: hsl(15, 100%, 40%);
		--theme-1: hsl(15, 100%, 55%);
		--theme-2-variant: hsl(240, 8%, 35%);
		--theme-2: hsl(240, 8%, 44%);
		--theme-3-variant: hsl(204, 100%, 50%);
		--theme-3: hsl(204, 100%, 63%);
	}

	body.light {
		color-scheme: light;
		--back-1: hsl(0, 0%, 100%);
		--back-2: hsl(0, 0%, 100%);
		--back-3: hsl(206, 64%, 98%);
		--back-4: hsl(206, 44%, 93%);
		--back-5: hsl(206, 20%, 80%);
		--back-translucent: hsla(0, 0%, 0%, 0.1);
		--scrollbar: rgba(0, 0, 0, 0.3);
		--text-1: hsl(0, 0%, 13%);
		--text-2: hsl(0, 0%, 27%);
		--text-3: var(--theme-2);
		--text-4: hsl(0, 0%, 65%);
		--text-translucent: hsla(0, 0%, 0%, 0.7);
		--theme-1-variant: hsl(15, 100%, 50%);
		--theme-1: hsl(15, 100%, 50%);
		--theme-2-variant: hsl(240, 8%, 44%);
		--theme-2: hsl(240, 8%, 44%);
		--theme-3-variant: hsl(204, 100%, 63%);
		--theme-3: hsl(204, 100%, 63%);
	}
}

@media screen and (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
		--back-1: hsl(0, 0%, 100%);
		--back-2: hsl(0, 0%, 100%);
		--back-3: hsl(206, 64%, 98%);
		--back-4: hsl(206, 44%, 93%);
		--back-5: hsl(206, 20%, 80%);
		--back-translucent: hsla(0, 0%, 0%, 0.1);
		--scrollbar: rgba(0, 0, 0, 0.3);
		--text-1: hsl(0, 0%, 13%);
		--text-2: hsl(0, 0%, 27%);
		--text-3: var(--theme-2);
		--text-4: hsl(0, 0%, 65%);
		--text-translucent: hsla(0, 0%, 0%, 0.7);
		--theme-1-variant: hsl(15, 100%, 50%);
		--theme-1: hsl(15, 100%, 50%);
		--theme-2-variant: hsl(240, 8%, 44%);
		--theme-2: hsl(240, 8%, 44%);
		--theme-3-variant: hsl(204, 100%, 63%);
		--theme-3: hsl(204, 100%, 63%);
	}

	body.dark {
		color-scheme: dark;
		--back-1: hsl(0, 0%, 10%);
		--back-2: hsl(0, 0%, 18%);
		--back-3: hsl(0, 0%, 14%);
		--back-4: hsl(0, 0%, 22%);
		--back-5: hsl(0, 0%, 40%);
		--back-translucent: hsla(0, 0%, 100%, 0.1);
		--scrollbar: rgba(255, 255, 255, 0.3);
		--text-1: hsl(0, 0%, 90%);
		--text-2: hsl(0, 0%, 80%);
		--text-3: hsl(0, 0%, 65%);
		--text-4: hsl(0, 0%, 45%);
		--text-translucent: hsla(0, 0%, 100%, 0.9);
		--theme-1-variant: hsl(15, 100%, 40%);
		--theme-1: hsl(15, 100%, 55%);
		--theme-2-variant: hsl(240, 8%, 35%);
		--theme-2: hsl(240, 8%, 44%);
		--theme-3-variant: hsl(204, 100%, 50%);
		--theme-3: hsl(204, 100%, 63%);
	}
}

body {
	font-size: 1.6rem;
	font-family: var(--font-family);
	line-height: 1.5;
	color: var(--text-2);
	background-color: var(--back-1);
	width: 100%;
	tab-size: 2;
	-moz-tab-size: 2;
}

section.page {
	max-width: var(--desktop-column-width);
	margin: auto;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar) transparent;
	-webkit-overflow-scrolling: touch;
}

p,
ul,
ol {
	margin: 1em 0;
}

a {
	position: relative;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
}
h6 {
	font-size: var(--text-xs);
}
h5,
h4 {
	font-size: var(--text-s);
}
h3 {
	font-size: var(--text-m);
}
h2 {
	font-size: var(--text-l);
}
h1 {
	font-size: var(--text-xxl);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	font-weight: 400;
	line-height: 1.35;
	color: var(--text-1);
}

strong {
	font-weight: 600;
}

pre {
	overflow-x: auto;
}

::selection {
	background: var(--selection-color);
}

button {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	border: none;
	color: currentColor;
	cursor: pointer;
}

button[disabled] {
	opacity: 0.55;
	pointer-events: none;
}

button > svg {
	position: relative;
	top: -0.1rem;
	width: 2rem !important;
	height: 2rem !important;
	stroke: currentColor !important;
}

a {
	position: relative;
	padding: 0 0 1px;
	color: var(--theme-1);
}

table {
	width: 100%;
	font-size: var(--text-s);
}

td,
th {
	text-align: left;
	border-bottom: 1px solid #eee;
	padding: 0.4rem 0.8rem 0.4rem 0;
}
