@keyframes jiggle {
	0% {
		transform: rotate(0deg) scale(1.1);
	}
	10% {
		transform: rotate(-5deg) scale(1.15);
	}
	20% {
		transform: rotate(5deg) scale(1.2);
	}
	30% {
		transform: rotate(-4deg) scale(1.25);
	}
	40% {
		transform: rotate(4deg) scale(1.25);
	}
	50% {
		transform: rotate(-3deg) scale(1.25);
	}
	60% {
		transform: rotate(3deg) scale(1.25);
	}
	70% {
		transform: rotate(-2deg) scale(1.25);
	}
	80% {
		transform: rotate(2deg) scale(1.25);
	}
	90% {
		transform: rotate(-1deg) scale(1.25);
	}
	100% {
		transform: rotate(0deg) scale(1.25);
	}
}

button.btn {
	&.jiggle {
		transition: all 0.25s ease-in-out;

		&:hover {
			animation: jiggle 1s ease-out;
			transform: scale(1.25);
		}
	}
}

.link {
	cursor: pointer;
	font-size: 18px;
	position: relative;
	white-space: nowrap;
	color: var(--color-text);

	&:focus {
		// Fallback style when :focus-visible not supported
		outline: none;
		background: lightgrey;

		&:not(:focus-visible) {
			// Remove focus indicator on mouse-focus when :focus-visible not supported
			background: transparent;
		}
	}

	&:focus-visible {
		// Noticeable style for keyboard-focus when :focus-visible not supported
		outline: 2px solid orangered;
		border-radius: 0.1rem;
		background: transparent;
	}

	&::before,
	&::after {
		position: absolute;
		width: 100%;
		height: 1px;
		background: currentColor;
		top: 100%;
		left: 0;
		pointer-events: none;
	}

	&::before {
		content: '';
	}

	&.link--zoomies {
		&::before {
			transform-origin: 100% 50%;
			transform: scale3d(0, 1, 1);
			transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
		}

		&:hover::before {
			transform-origin: 0 50%;
			transform: scale3d(1, 1, 1);
			transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
		}

		&::after {
			content: '';
			top: calc(100% + 4px);
			transform-origin: 0 50%;
			transform: scale3d(0, 1, 1);
			transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
		}

		&:hover::after {
			transform-origin: 100% 50%;
			transform: scale3d(1, 1, 1);
			transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
		}
	}
}

.sub-header {
	opacity: 0.75;
}

.paragraph {
	opacity: 0.9;
}

section.page {
	padding: 2rem 1rem;
	height: 100%;
	max-width: 50rem;
	margin: auto;

	// Lobotomized owl selectors
	* + * {
		margin-top: 1em;
	}

	.header > * + * {
		margin-top: 1rem;
	}

	.sub-header {
		margin-bottom: 2rem;
	}
}
